.generators {
  width: 100%;
}

.generators .gen-item {
  display: flex;
  justify-content: flex-start;
  height: 30px !important;
}

.generators .gen-item .title {
  font-family: sans-serif;
  width: fit-content;
  padding: 5px 10px;
  color: #96959F;
  transition: all 0.2s;
  cursor: pointer;

  display: inline-block !important;
  white-space: nowrap;
}

.generators .gen-item .categories .spacer {
  height: 30px;
  padding: 5px 20px 10px 0px;
}
.generators .gen-item .categories {
  font-family: sans-serif;
  display: none;
  transition: all 0.2s;
  opacity: 0;
  overflow: visible;
  color: #96959F;
  padding: 5px 10px;
  transition: all 0.2s;
}

.generators .gen-item .title:hover {
  letter-spacing: 2px;
  color: #2F314A;
  // padding: 10px 10px;
  font-weight: bold;
}
.generators .gen-item .title:hover + .categories {
  display: flex;
  flex-direction: row-reverse;
  opacity: 1;
}

.changelog {
  transition: all 0.2s;
  background: white;
  margin: 20px 0px 0px 10px;
  font-family: sans-serif;
  text-decoration: none;
  border: 0px;
  padding: 0px;
  font-weight: bold;
  color: #4A4E69;
  display: block;
}
.changelog:hover {
  color: #C9ADA7;
  letter-spacing: 2px;
  text-decoration: none;
}

#features {
  width: 400%;
}
#features .text-left {
  width: 71%;
}
#features .container {
  margin-left: 60px;
}

@media (max-width: 650px) {
  #features {
    width: auto;
    padding: 20px;
  }
  .container, .px-4, .px-lg-5 {
    margin-left: 0px !important;
  }

  h2 {
    width: 100% !important;
  }

  .categories {
    left: 50% !important;
  }
}
