doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='Lyzzi Brooks')

    title RPGen

    // Favicon
    link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

    // Bootstrap Icons
    link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')

    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

    // SimpleLightbox plugin CSS
    link(href='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css', rel='stylesheet')

    // Core theme CSS (includes Bootstrap)
    link(href='css/styles.css', rel='stylesheet')

  body#page-top(href="/index.html#page-top")
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
      .container.px-4.px-lg-5
        a(href='/index.html')
          img.header-logo.top(src='assets/img/long-title.png', title='RPGen')
        button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ms-auto.my-2.my-lg-0
            li.nav-item
              a.nav-link(href='/index.html#download') Download
            li.nav-item
              a.nav-link(href='/index.html#features') Features
            li.nav-item
              a.nav-link(href='/index.html#contact') Contact

    .changes
      h1.text-body.font-weight-bold Changelog
      .change
        .change-head
          .date June 2, 2022
          .separator
          .version Version 1.0.3 (26) 062022
        .info
          | - New generator: On Watch Events
          br
          | - New words, nouns, descriptions, and adjectives just about everywhere
          br
          | - Events have more variation and intrigue
          br
          | - New user survey - take it in About!
      .change
        .change-head
          .date December 23, 2021
          .separator
          .version Version 1.0.3 (26)
        .info
          | - New feature: You can now create custom generators! Create a template of generators to roll at a touch of a button.
          br
          | - New feature: Generate up to 10 names at a time
          br
          | - New generator: Tabaxi names
          br
          | - Gen update: Half-orcs have last names
          br
          | - Gen update: Orcs have titles
      .change
        .change-head
          .date September 23, 2021
          .separator
          .version Version 1.0.2 (26)
        .info
          | - New generators: Goblin, Troll, and Wolfkin names
          br
          | - Add ability to set system races for NPC generators
      .change
        .change-head
          .date September 10, 2021
          .separator
          .version Version 1.0.1 (26)
        .info
          | - Add new dice to roller: fudge/fate, average, d100, d2
          br
          | - Add many more nouns, adjectives, personalities, etc
          br
          | - Add ability to select generated text
      .change
        .change-head
          .date September 1, 2021
          .separator
          .version Version 1.0.0 (26)
        .info
          | - Very first official release to the app stores! Hooray!
          br
          | - New generators: Command Word, At Sea Events, Desert Events, Town Events, Forest Events, Tarot Cards
      .change
        .change-head
          .date August 20, 2021
          .separator
          .version Version 0.2.1 (26)
        .info
          | - New generators: Disease
      .change
        .change-head
          .date August 6, 2021
          .separator
          .version Version 0.2.0 (26)
        .info
          | - New generators: Hideout, Magical weapons (common+), Bookstore
          br
          | - Add more possibilities for adjectives, geolocations, NPC backgrounds, landmarks
          br
          | - Clean up names
      .change
        .change-head
          .date July 30, 2021
          .separator
          .version Version 0.2.0 (25)
        .info
          | - New generators: Heraldry, Magical jewelry, Magic armor (rare+)
          br
          | - Generator updated: more complicated magical armor
          br
          | - Add anonymous name
          br
          | - Add sidebar to navigate to Favorites, About, TOU
          br
          | - Breakout favorites to it's own page
          br
          | - Ability to redo welcome survey
      .change
        .change-head
          .date July 12, 2021
          .separator
          .version Version 0.2.0 (24)
        .info
          | - New generator: Magic armor (uncommon)
          br
          | - Add report function
      .change
        .change-head
          .date May 7, 2021
          .separator
          .version Version 0.2.0 (23)
        .info
          | - New generators: Building names, Bounties
          br
          | - More books, and select by type
          br
          | - Add session summary and donate telemetry
      .change
        .change-head
          .date April 30, 2021
          .separator
          .version Version 0.2.0 (22)
        .info
          | - New generator: Rumours
          br
          | - Add "split" option to coin conversion
          br
          | - Add some more possible location descriptions
          br
          | - Add a few more main course meals
          br
          | - All food has a name, even if it's boring


    // Footer
    footer.footer
      a(href="/privacy.html")
        | Privacy & Terms
      .small
        | Copyright &copy; 2021 - RPGen
