doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='Lyzzi Brooks')

    title RPGen

    // Favicon
    link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

    // Bootstrap Icons
    link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')

    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

    // SimpleLightbox plugin CSS
    link(href='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css', rel='stylesheet')

    // Core theme CSS (includes Bootstrap)
    link(href='css/styles.css', rel='stylesheet')

    body#page-top(href="#page-top")
      // Navigation
      nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
        .container.px-4.px-lg-5
          img.header-logo.top(src='assets/img/long-title.png', title='RPGen')
          button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.my-2.my-lg-0
              li.nav-item
                a.nav-link(href='#download') Download
              li.nav-item
                a.nav-link(href='#features') Features
              li.nav-item
                a.nav-link(href='#contact') Contact

      // totalview
      .totalview
        .leftside
          // Masthead
          header.masthead
            .container.px-4.px-lg-5.h-100
              .row.gx-4.gx-lg-5.h-100.align-items-center.justify-content-center.text-left
                .col-lg-8.align-self-end
                  img.head-logo(src="assets/img/long-title.png")
                  h1.text-body.font-weight-bold Unlimited hand-crafted generated content for anything your RPG needs
                  hr.divider
                #download.col-lg-8.align-self-baseline(href="#download")
                  h1.text-body.font-weight-bold Download on
                  .download
                    a.download-button(href="https://play.google.com/store/apps/details?id=com.lyzzibrooks.rpgen")
                      img(src="assets/img/googleD.png")
                    a.download-button.middle(href="https://t.co/MTWWXENcEY?amp=1")
                      img(src="assets/img/iosD.png")
                    a.download-button(href="https://www.rpgen.app")
                      img(src="assets/img/webD.png")


          // About
          section#features.page-section(href="#features")
            .container.px-4.px-lg-5
              h2.text-left.mt-0 Ever-growing list of generators, including
              .generators
                .gen-item
                  .title Standard names
                  .categories Dwarf<br>Elf<br>Human<br>Half-elf<br>Halfling<br>Half-orc<br>Tiefling
                .gen-item
                  .title Unusual names
                  .categories Aasimar<br>Dragonborn<br>Gnome<br>Kenku<br>Murloc<br>Orc
                .gen-item
                  .title NPC backgrounds
                  .categories Agriculture<br>Business<br>Crafty<br>Criminal<br>Educational<br>Entertainment<br>Government<br>Magical<br>Medical<br>Military<br>Religious<br>Ship crew<br>Transportation<br>Unemployed
                .gen-item
                  .title Locations
                  .categories By size<br>By race<br>Landmark<br>Building
                .gen-item
                  .title Shops
                  .categories Inn & Tavern<br>General store<br>Blacksmith<br>Woodworker<br>Tailor<br>Herbalist<br>Magic<br>Shady establishment
                .gen-item
                  .title Food
                  .categories Alcoholic drink<br>Non-alcoholic drink<br>Breakfast<br>Soup<br>Main course<br>Dessert
                .gen-item
                  .title Items
                  .categories Weapon<br>Armor<br>Jewelry<br>Heraldry<br>Mundane item<br>Book title
                .gen-item
                  .title Magic items
                  .categories Weapon<br>Armor<br>Jewelry
                .gen-item
                  .title NPC inventory
                  .categories Commoner<br>Noble<br>Fighter<br>Magic
                .gen-item
                  .title Utilities
                  .categories Dice roller<br>D&D Ability Stats<br>Coin Converter
                .gen-item
                  .title Story elements
                  .categories Rumour<br>Bounty

        .rightside
          .demo
            img.pixel(src="assets/img/pixel.png")

      // Contact
      section#contact.page-section(href="#contact")
        .social
          a(href="https://twitter.com/RPGenApp", target="_blank")
            img(src="assets/img/twitter.png")
            | @RPGenApp
          a(href="https://www.buymeacoffee.com/lyzzi", target="_blank")
            | ♡ Donate
          a(href="mailto:lyzzibrooks+rpgen@gmail.com", target="_blank")
            img(src="assets/img/email.png")
            | Email

      // Footer
      footer.footer
        .container.px-4.px-lg-5
            .small.text-center.text-muted
                | Copyright &copy; 2021 - RPGen

      // Bootstrap core JS
      script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')

      // SimpleLightbox plugin JS
      script(src='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js')

      // Core theme JS
      script(src='js/scripts.js')
